*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Amiri', serif;
    background: #fff6da;
}

/* a {
    color: #323232;
}

.title-paintings, .titles {
    text-transform: uppercase;
    font-weight: bold;
} */

/* Header */

.logo {
    font-size: 3rem;
    font-family: 'Playfair Display SC', serif;
    color: #042f4b;
}

/* Navigation */

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 20vh;
}
.nav-links {
    /* position: fixed;*/
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #042f4b;
}

.nav-links li {
    list-style: none;
}

a:hover {
    color: #c70039;
    text-decoration: none;
}

.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px;
}

/* Paintings */

/* .title-paintings {
    padding: 5% 15% 0;
}

.paintings-container {
    border: 3px solid #323232;
    padding: 2%;
} */

/* About */

/* .titles {
    padding: 10% 15% 0;
}
.main-container {
    border: 3px solid #042f4b;
    padding: 5% 8%;
    display: flex;
    align-items: center;
}
.profile {
    background-color: #fffdf9;
    padding: 5%;
    margin-left: 30px;
}

.bio {
    text-align: justify;
    font-size: 1.1rem;
} */

/* Footer */

/* .foot-container {
    border: 3px solid #323232;
    padding: 5% 15%;
}
h5 {
    padding: 2%;
} */
/* footer {
    padding: 5% 15% 0;
} */
/* footer p {
    color: #687466;
    padding-top: 20px;
}
.icon {
    padding: 0 20px;
} */

@media (max-width: 990px) {
    .logo {
    font-size: 2rem;
    }
    .title-paintings {
    padding: 20% 15% 2%;
    }
    .main-container {
        display: block;
    }
    .profile {
    margin: 20px 0 0 0;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        margin: 0;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        top: 10vh;
        background-color: blue;
        display: flex;
        flex-direction: column;
        z-index: 3;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        margin-right: 5%;
        cursor: pointer;
        position: fixed;
    }
    .nav-active {
        transform: translateX(0%);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

