*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Amiri', serif;
    background: #fff6da;
}

/* a {
    color: #323232;
}

.title-paintings, .titles {
    text-transform: uppercase;
    font-weight: bold;
} */

/* Header */

.logo {
    font-size: 3rem;
    font-family: 'Playfair Display SC', serif;
    color: #042f4b;
}

/* Navigation */

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 20vh;
    background-color: #c70039;
}
.nav-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.nav-links a {
    text-decoration: none;
    padding: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #042f4b;
    display: block;
}

.nav-links li {
    list-style: none;
}

a:hover {
    color: #c70039;
    text-decoration: none;
}

.burger {
    position: absolute;
    top: 1rem;
    right: 2rem;
    flex-direction: column;
    display: none;
}
.burger div {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 3px;
    border-radius: 10px;
}

/* Paintings */

/* .title-paintings {
    padding: 5% 15% 0;
}

.paintings-container {
    border: 3px solid #323232;
    padding: 2%;
} */

/* About */

/* .titles {
    padding: 10% 15% 0;
}
.main-container {
    border: 3px solid #042f4b;
    padding: 5% 8%;
    display: flex;
    align-items: center;
}
.profile {
    background-color: #fffdf9;
    padding: 5%;
    margin-left: 30px;
}

.bio {
    text-align: justify;
    font-size: 1.1rem;
} */

/* Footer */

/* .foot-container {
    border: 3px solid #323232;
    padding: 5% 15%;
}
h5 {
    padding: 2%;
} */
/* footer {
    padding: 5% 15% 0;
} */
/* footer p {
    color: #687466;
    padding-top: 20px;
}
.icon {
    padding: 0 20px;
} */

@media (max-width: 990px) {
    .logo {
    font-size: 2rem;
    }
    .title-paintings {
    padding: 20% 15% 2%;
    }
    .main-container {
        display: block;
    }
    .profile {
    margin: 20px 0 0 0;
    }
    .burger {
        display: flex;
        cursor: pointer;
    }
    
    .nav-bar {
        flex-direction: column;
    }
    .nav-links {
        display: none;
        width: 100%;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        text-align: center;
    }
    .nav-links li a {
        padding: 20px 0;
    }
}

